<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Panel</title>
        <link rel="stylesheet" href="styleAdmin.css">
        <link rel="shortcut icon" href="./icons/icon-admin.png" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <h1>Velkommen til administrator-panelet</h1>
            <div class="user-actions">
                <h2>Fjern bruker</h2>
                <input type="text" id="removeUserInput" placeholder="Skriv inn brukernavn">
                <button id="removeUserBtn">Fjern</button>
            </div>
            <div class="user-actions">
                <h2>Rediger Bruker Rolle</h2>
                <input type="text" id="editUsernameInput" placeholder="Skriv inn brukernavn">
                <select id="editRoleSelect">
                    <option value="kunde">Kunde</option>
                    <option value="admin">Admin</option>
                </select>
                <button id="editRoleBtn">Rediger Rolle</button>
            </div>
        </div>
    </body>
    </html>
    