<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/index.css">


    <script src="/js/index.js" defer></script>

</head>
<body>
    <nav>
        <ul class="navUL">
            <li><a href="/omMeg">Om meg</a> </li>
            <li><a href="/utvikling">Prosjekter-utvikling</a> </li>
            <li class="logoLI"><a href="/"><h1>Portfolio</h1> <p>-Martin Bjor Røneid</p></a></li>
            <li><a href="/design">Prosjekter-design</a> </li>
            <li><a href="/kontakt">Kontakt info</a> </li>        
        </ul>
    </nav>
    <style>
        h1{
            text-align: center;
        }
    </style>
    <h1>Velkommen</h1>

    <footer>
        
    </footer>

</body>
</html>