<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="info"></div>

    <div>
        <a href=""></a>
        <img src="" alt="">
        <div>
            <h2>CV</h2>
            <p><a href="path/to/your-cv.pdf" download="your-cv.pdf" class="download-btn">Download CV</a></p>
        </div>
    </div>
    
    <div>
        <img src="" alt="">
        <div>
            <h2>Attester og sertifikater</h2>
            <p></p>
        </div>
    </div>
</body>
</html>