:root {
    --background-color: #faedcd;

    --text-color: #fefae0;


    --primary-color: #d4a373;
    --secondary-color: #ffffff;
    --tertiary-color: #e9edc9;
    --quaternary-color: #fefae0;
}

body{
    background-color: var(--background-color)
}
