:root {
    --background-color: #faedcd;

    --text-color: #fefae0;


    --primary-color: #d4a373;
    --secondary-color: #ffffff;
    --tertiary-color: #b3ba7d;
    --quaternary-color: #b7af7c;
}

@media (max-width: 810px) {
    
}
