:root {
    --background-color: #faedcd;

    --text-color: #fefae0;


    --primary-color: #d4a373;
    --secondary-color: #ffffff;
    --tertiary-color: #e9edc9;
    --quaternary-color: #fefae0;
}

.selected{
    background-color: #253743;
}



.navUL {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
}


li a {
    text-decoration: none;
    color: var(--secondary-color);
}

a p{
    color: var(--secondary-color);
}

li {
    list-style-type: none;
    box-sizing: border-box; 

}

li a {
    display: block; 
    margin: 0;

    padding: 7vh 6.93vw;

    background-color: var(--tertiary-color);

    opacity: 0.75;
    overflow: hidden;  /* Hide the overflowing text */
    transform: translateY(-5px);  /* Slightly move it up */
    transition: all 0.4s ease;
}

li:hover a {
    background-color: var(--quaternary-color);

    height: auto;  /* Let the height adjust to the content */
    opacity: 1;  /* Make it visible */
    transform: translateY(0);
}

.logoLI {
    position: relative;
    padding-top: 0;
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logoLI a{
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}


.logoLI p {
    position: absolute;
    left: 50%;
    margin: 0;
    padding: 0;
    height: 0; 
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);  
    transition: all 0.4s ease;  
}


.logoLI:hover p {
    height: auto;
    opacity: 1;
    transform: translateY(0);
}


html, body {
    margin: 0;
    padding: 0;
}


.navUL {
    position: relative;
    top: -65px;
    transition: top 0.3s ease;
}

.navUL:hover {
    top: 0;
}
