.spicy{
    background-color: orange;
    color: red;
}

.dry{
    background-color: gray;

}


.sweet{
    background-color: pink;

}

.bitter{
    background-color: brown;

}

.sour{
    background-color: yellow;

}